# Android / Gradle
*.iml
.gradle/
local.properties
.idea/
*.apk
*.aab
*.jks
*.keystore
build/
app/build/
captures/
.externalNativeBuild/

# macOS
.DS_Store

# OS files
Thumbs.db

# Generated keystores (created by CI)
WebCompilerApp/debug.keystore
WebViewTemplate/debug.keystore

# Do not ignore the bundled asset in the repo
WebCompilerApp/app/src/main/assets/template.apk
